beartype==0.16.4 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11"
einops==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
executing==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
eztils==0.4.74 ; python_version >= "3.10" and python_version < "3.11"
loguru==0.7.2 ; python_version >= "3.10" and python_version < "3.11"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.26.1 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "3.11"
rich==13.6.0 ; python_version >= "3.10" and python_version < "3.11"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.66.1 ; python_version >= "3.10" and python_version < "3.11"
typer-config==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
typer==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
typer[all]==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.10" and python_version < "3.11"
varname==0.12.0 ; python_version >= "3.10" and python_version < "3.11"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
